<div class="side-bar-header">
  <p class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </p>
  <p class="create-room">
    <a href="#">チャットを作成する</a>
  </p>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">chatroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">chatroom2</a>
    </div>
  </div>
</div>
