<div class="side-bar-header">
  <p class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </p>
  <p class="create-room">    
    <%= link_to 'チャットを作成する', new_room_path %>
  </p>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <a href="#"><%= room.name %></a>
      </div>
    </div>
  <% end %>
</div>
